---
import BaseLayout from "../layouts/BaseLayout.astro";
import LottieAnimCanvas from "../components/LottieAnimCanvas.astro";
import LinkPage from "../components/LinkPage.astro";
import IconCaretRight from "../components/icons/IconCaretRight.astro";
import VvidhyaLogo from "../components/VvidhyaLogo.astro";

const metadata = {
  title:
    "V.Vidhya - Your Virtual Path To Knowledge | Computer Education for All in Surat",
  description:
    "Learn top computer courses at V.Vidhya in Surat. From programming to graphic design, boost your skills and indulge your creativity to do real work with the help of technology.",
};

const animData = {
  forAllAgesAnim: {
    id: "for-all-ages-illus",
    path: "/animations/for-all-ages.lottie",
    img: "/animations/for-all-ages.svg",
  },
  LearnByDoingAnim: {
    id: "learn-by-doing-illus",
    path: "/animations/learn-by-doing.lottie",
    img: "/animations/learn-by-doing.svg",
  },
  personalApproachAnim: {
    id: "personalized-approach-illus",
    path: "/animations/personalized-approach.lottie",
    img: "/animations/personalized-approach.svg",
  },
  integrityAnim: {
    id: "integrity-illus",
    path: "/animations/integrity.lottie",
    img: "/animations/integrity.svg",
  },
  contactAnim: {
    id: "contact-illus",
    path: "/animations/contact.lottie",
    img: "/animations/contact.svg",
  },
};
---

<BaseLayout
  metadata={metadata}
  includeLottieAnimScript={true}
  navSection="home"
>
  <main
    class="flex flex-col items-center justify-center gap-3 w-full !my-0 mt-20 !mb-0 !pb-0"
  >
    <section class="flex flex-col items-center justify-center text-center">
      <div class="flex flex-col xs:flex-row xs:gap-2 items-center mb-20">
        <VvidhyaLogo logoClass="home-logo-svg" />

        <div
          class="flex flex-col justify-around xs:gap-1 sm:gap-2 lg:gap-4 xl:gap-5 mt-2 xs:mt-3 xl:mt-4"
        >
          <h1
            class="text-font-color-pri text-4xl xs:text-[42px] sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-black"
          >
            V.Vidhya
          </h1>

          <h2
            class="text-font-color-sec text-base md:text-xl lg:text-2xl xl:text-3xl font-bold"
          >
            Your virtual path to knowledge
          </h2>
        </div>
      </div>

      <LinkPage
        href="/courses/"
        class="explore-courses-btn"
        title="Explore Courses"
      />
    </section>

    <div class="relative w-full my-20">
      <div class="-z-10 rotate-180">
        <svg
          viewBox="0 0 1400 150"
          xmlns="http://www.w3.org/2000/svg"
          style="enable-background: new 0 0 1400 980"
        >
          <g
            transform="matrix(0.7291666865348816, 0, 0, 0.7291666865348816, -1.1985733086016808, -446.088623046875)"
          >
            <path
              class="home-stroke-path"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1920 0C1920 0 1920 621.488 1920 715.001C1873.26
724.257 1817.52 702.41 1768.95 711.55C1720.82 720.606 1678.56 762.275 1628.44 769.586C1579.8 776.68
1525 749.226 1474.67 754.595C1425.65 759.824 1379.58 798.09 1329.13 801.608C1279.84 805.046 1227.72
773.669 1177.22 775.404C1127.76 777.103 1078.47 812 1028 812C977.532 812 928.254 777.103 878.792
775.404C828.3 773.669 776.181 805.047 726.895 801.61C676.446 798.092 630.37 759.825 581.353
754.597C531.023 749.228 476.226 776.682 427.587 769.589C377.46 762.278 335.198 720.61 287.067
711.553C237.247 702.179 179.877 725.023 132.416 713.874C83.398 702.36 46.107 657.775 0 644.001C0
610.918 0 0 0 0H1920Z"
              fill="#f5f2eb"></path>
          </g>
        </svg>
      </div>

      <div class="bg-navbar-color-pri">
        <section
          class="px-6 xl:px-0 mx-auto max-w-mdsm sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
        >
          <div
            class="flex flex-col sm:flex-row items-center justify-center mb-20 sm:mb-5"
          >
            <div class="w-full sm:w-3/5 text-center sm:text-left order-1">
              <h3
                class="text-font-color-sec text-2xl md:text-4xl font-extrabold mb-5 sm:mb-10"
              >
                for all ages
              </h3>

              <p>
                Whether you are a curious child exploring computers, a young
                aspiring digital artist, a working professional upskilling for
                the future or a senior citizen seeking to navigate technology
                for daily convenience, we welcome learners of all ages to join
                our supportive environment.
              </p>
            </div>

            <LottieAnimCanvas animData={animData.forAllAgesAnim} />
          </div>

          <div
            class="flex flex-col sm:flex-row items-center justify-center mb-20 sm:mb-5"
          >
            <LottieAnimCanvas animData={animData.LearnByDoingAnim} />

            <div
              class="w-full sm:w-3/5 text-center sm:text-left order-1 sm:order-2"
            >
              <h3
                class="text-font-color-sec text-2xl md:text-4xl font-extrabold mb-5 sm:mb-10"
              >
                learn by doing
              </h3>

              <p>
                Our courses with interactive content, activities and hands-on
                projects encourage you to explore real-world challenges, think
                critically and create through practical experience.
              </p>
            </div>
          </div>

          <div
            class="flex flex-col sm:flex-row items-center justify-center mb-20 sm:mb-5"
          >
            <div class="w-full sm:w-3/5 text-center sm:text-left order-1">
              <h3
                class="text-font-color-sec text-2xl md:text-4xl font-extrabold mb-5 sm:mb-10"
              >
                personalized approach
              </h3>

              <p>
                We tailor our approach according to your pace and learning
                style, curate the courses as per your needs and motives,
                providing the flexibility and attention needed to help you
                succeed.
              </p>
            </div>

            <LottieAnimCanvas animData={animData.personalApproachAnim} />
          </div>

          <div class="flex flex-col sm:flex-row items-center justify-center">
            <LottieAnimCanvas animData={animData.integrityAnim} />

            <div
              class="w-full sm:w-3/5 text-center sm:text-left order-1 sm:order-2"
            >
              <h3
                class="text-font-color-sec text-2xl md:text-4xl font-extrabold mb-5 sm:mb-10"
              >
                integrity
              </h3>
              <p>
                We focus purely on quality learning. No gimmicks, false promises
                or exaggerated claims - just honest, effective education that
                delivers real value and long-term benefits.
              </p>
            </div>
          </div>
        </section>
      </div>

      <div class="w-full -z-10">
        <svg
          viewBox="0 0 1400 150"
          xmlns="http://www.w3.org/2000/svg"
          style="enable-background: new 0 0 1400 980"
        >
          <g
            transform="matrix(0.7291666865348816, 0, 0, 0.7291666865348816, -1.1985733086016808, -446.088623046875)"
          >
            <path
              class="home-stroke-path"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1920 0C1920 0 1920 621.488 1920 715.001C1873.26
724.257 1817.52 702.41 1768.95 711.55C1720.82 720.606 1678.56 762.275 1628.44 769.586C1579.8 776.68
1525 749.226 1474.67 754.595C1425.65 759.824 1379.58 798.09 1329.13 801.608C1279.84 805.046 1227.72
773.669 1177.22 775.404C1127.76 777.103 1078.47 812 1028 812C977.532 812 928.254 777.103 878.792
775.404C828.3 773.669 776.181 805.047 726.895 801.61C676.446 798.092 630.37 759.825 581.353
754.597C531.023 749.228 476.226 776.682 427.587 769.589C377.46 762.278 335.198 720.61 287.067
711.553C237.247 702.179 179.877 725.023 132.416 713.874C83.398 702.36 46.107 657.775 0 644.001C0
610.918 0 0 0 0H1920Z"
              fill="#f5f2eb"></path>
          </g>
        </svg>
      </div>
    </div>

    <section
      class="flex flex-col items-center justify-center px-6 xl:px-0 mx-auto max-w-mdsm sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <h4
        class="text-font-color-sec text-4xl md:text-6xl font-extrabold mb-6 sm:mb-10"
      >
        About Us
      </h4>

      <div class="flex flex-col justify-center gap-4">
        <p class="text-center">
          Whether we are the best computer educational institute or not, that's
          for you to decide, because at the end what is best for you is all that
          matters. With
          <span class="font-bold">over 25 years of experience</span> in computer
          education, we are committed to make people of all age groups digitally
          literate in this ever-evolving technological world. Our mission is simply
          to be a catalyst in the process of people's creativity coming alive through
          the means of technology.
        </p>
        <a
          class="self-center small-btn read-more-btn flex flex-row justify-center items-center gap-1"
          href="/about/"
          ><span>Read More</span> <IconCaretRight styleClass="self-center" /></a
        >
      </div>

      <h5
        class="text-font-color-sec text-2xl md:text-4xl font-extrabold mt-10 mb-3 sm:mb-5"
      >
        Our Journey
      </h5>

      <div class="flex flex-col justify-center">
        <p class="text-center">
          You might know us by a different name -
          <span class="font-bold">Foundation Forum</span>, that's where our
          journey began.
        </p>
        <div class="flex flex-col justify-center">
          <img
            src="/images/logo-icons/foundation-forum-logo.svg"
            alt="foundation-forum-logo"
            class="h-14 sm:h-18 md:h-20 lg:h-24 aspect-[234/132]"
            decoding="async"
            loading="lazy"
          />
        </div>
        <p class="text-center mt-6 md:mt-7 lg:mt-9">
          Over the years, we've evolved, growing through partnerships, including
          the most recent one with
          <span class="font-bold">Visual Software & Multimedia</span>.
        </p>
        <div class="flex flex-col justify-center">
          <img
            src="/images/logo-icons/visual-logo.svg"
            alt="visual-logo"
            class="h-9 sm:h-12 md:h-14 lg:h-18 aspect-[209/41]"
            decoding="async"
            loading="lazy"
          />
        </div>
        <p class="text-center mt-6 md:mt-7 lg:mt-9">
          Now with <span class="font-bold">V.Vidhya (Virtual Vidhya)</span>,
          we've embarked on an independent venture focused entirely on
          delivering the best in computer education.
        </p>
        <div class="flex flex-col justify-center">
          <img
            src="/images/logo-icons/vvidhya-logo-bold.svg"
            alt="visual-logo"
            class="h-16 sm:h-18 md:h-[90px] lg:h-28 aspect-square"
            decoding="async"
            loading="lazy"
          />
        </div>
      </div>
    </section>

    <section class="relative w-full mt-20">
      <div class="w-full -z-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 100">
          <path
            d="M 0 30 Q 29.17 30 58.33 15 Q 116.67 -15 175 15 Q 204.17 30 233.33 30 Q 262.5 30 291.67 15 Q 350 -15 408.33 15 Q 437.5 30 466.67 30 Q 495.83 30 525 15 Q 583.33 -15 641.67 15 Q 670.83 30 700 30 Q 729.17 30 758.33 15 Q 816.67 -15 875 15 Q 904.17 30 933.33 30 Q 962.5 30 991.67 15 Q 1050 -15 1108.33 15 Q 1137.5 30 1166.67 30 Q 1195.83 30 1225 15 Q 1283.33 -15 1341.67 15 Q 1370.83 30 1400 30 L 1400 100 L 0 100 Z"
            fill="#f5f2eb"></path>
        </svg>
      </div>

      <div class="bg-navbar-color-pri">
        <section
          class="px-6 xl:px-0 mx-auto max-w-mdsm sm:max-w-lg md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl flex flex-col justify-center items-center"
        >
          <div class="w-full sm:w-3/5 text-center">
            <h5
              class="text-font-color-sec text-2xl md:text-4xl font-extrabold mt-10 mb-3 sm:mb-5"
            >
              Start Learning With
            </h5>

            <h4 class="text-font-color-pri text-4xl md:text-6xl font-black">
              V.Vidhya
            </h4>
          </div>

          <LottieAnimCanvas animData={animData.contactAnim} />
        </section>

        <section class="w-full flex flex-col justify-center items-center pt-10">
          <LinkPage
            href="/contact/"
            class="explore-courses-btn"
            title="Contact Us"
          />

          <div
            class="flex flex-row justify-center items-center px-10 mt-20 w-full"
          >
            <hr
              class="w-full border-solid border-[1px] border-foreground my-10"
            />

            <LinkPage href="/" title="">
              <VvidhyaLogo logoClass="footer-logo-svg" />
            </LinkPage>

            <hr
              class="w-full border-solid border-[1px] border-foreground my-10"
            />
          </div>
        </section>
      </div>

      <!-- <div class="w-full -z-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 100">
          <path
            d="M 0 70 Q 29.17 70 58.33 85 Q 116.67 115 175 85 Q 204.17 70 233.33 70 Q 262.5 70 291.67 85 Q 350 115 408.33 85 Q 437.5 70 466.67 70 Q 495.83 70 525 85 Q 583.33 115 641.67 85 Q 670.83 70 700 70 Q 729.17 70 758.33 85 Q 816.67 115 875 85 Q 904.17 70 933.33 70 Q 962.5 70 991.67 85 Q 1050 115 1108.33 85 Q 1137.5 70 1166.67 70 Q 1195.83 70 1225 85 Q 1283.33 115 1341.67 85 Q 1370.83 70 1400 70 L 1400 0 L 0 0 Z"
            fill="#f5f2eb"></path>
        </svg>
      </div> -->
    </section>
  </main>
</BaseLayout>
