---
import "/src/styles/global.css";
// import "/src/styles/fontawesome.min.css";

interface Props {
  metadata: {
    title: string;
    description: string;
  };
  includeLottieAnimScript: boolean;
}

const metadata = Astro.props.metadata;
const includeLottieAnimScript = Astro.props.includeLottieAnimScript ?? false;

const pageUrl = new URL(Astro.url.pathname, Astro.site).href;
const ogImageUrl = `${Astro.site}images/og_image.jpg`;
---

<head>
  <!-- #Pragma Directives# -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- #Title# -->
  <title>{metadata.title}</title>
  <meta name="title" content={metadata.title} />

  <!-- SiteMap -->
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Meta-Data -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={pageUrl} />
  <meta property="og:title" content={metadata.title} />
  <meta property="og:description" content={metadata.description} />
  <meta name="description" content={metadata.description} />
  <meta property="og:image" content={ogImageUrl} />
  <meta name="twitter:title" content={metadata.title} />
  <meta name="twitter:description" content={metadata.description} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content={ogImageUrl} />

  <!-- #Preconnect Hints# -->

  <!-- #Asynchronous Scripts# -->

  <!-- #Import Styles# -->

  <!-- #Synchronous Scripts# -->

  <!-- #Synchronous Styles# -->
  <!-- <link href="/styles/input.css" rel="stylesheet" /> -->
  <!-- font-awesome icons -->
  <!-- <link
    rel="stylesheet"
    href="/styles/fontawesome.min.css"
    media="print"
    onload="this.media='all'"
  /> -->

  <!-- #Preload Hints# -->
  <!-- Preloaded locally hosted necessary fonts -->
  <link
    rel="preload"
    href="/fonts/noto-sans-v37-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="/fonts/noto-sans-v37-latin-800.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <!-- lotti-anim-loader-script -->
  {
    includeLottieAnimScript && (
      <>
        {/* <link
          rel="preload"
          as="script"
          href="https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web/+esm"
        /> */}

        <script src="../scripts/specific/lottie-anim.js" />
      </>
    )
  }

  <!-- #Deferred Scripts# -->

  <!-- #Prefetch and Prerender Hints# -->

  <!-- #Everything Else# -->
  <!-- favicons -->
  <link
    rel="icon"
    type="image/png"
    href="/favicons/favicon-96x96.png"
    sizes="96x96"
  />
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicons/apple-touch-icon.png"
  />
  <meta name="apple-mobile-web-app-title" content="V.Vidhya" />
  <link rel="manifest" href="/favicons/site.webmanifest" />

  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
</head>
